

body{
    background-color: pink;
    display: flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0;
    overflow: hidden;
}

.btn{
    border:none;
    border-radius: 5px;
    cursor:pointer;
}

.btn:hover{
    opacity: .7;
}

.container{
    background-color: #CEDFDF;
    border-radius: 10px;
    text-align: center;
    width: 800px;
}

h3 {
    margin:0;
    opacity: 0.5;
    letter-spacing: 2px;
}
