@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Sono:wght@300&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    height:100vh;
    align-items:center;
    justify-content:center;
    margin:0;
    overflow:hidden;
    background-color: ;

}

div{
    position: absolute;
    bottom: 20px;

}